body {
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
}

nav {
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  font-family: Helvetica;


}

ul {
  display: flex;
  list-style-type: none;

}

li {
  padding-right: 23px;
}

#logo {
  padding-left: 10px;
  height: 50px;
  opacity: 0.9;
  color: seashell;
}
